.hero__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: var(--dark-color);
    opacity: 0;
    z-index: 5;
    visibility: hidden;
    transition: 1s;
}
.contacts__form {
    position: relative;
}
.hero__popup.active {
    opacity: 0.8;
    visibility: visible;
}

.btn__popup-close {
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--dark-color);
    padding: 5px;
    border: none;
}
