.portfolio {
    padding-top: 100px;
}

.portfolio__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__title-line {
    width: 240px;
    height: 2px;
    border-color: var(--accent-color);
}

.portfolio__title-text {
    padding: 0 20px;
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--accent-color);
}

.portfolio__buttons {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.portfolio__btn {
    background-color: transparent;
    border: 2px solid #bdae82;
    font-size: 20px;
    line-height: 40px;
    color: var(--accent-color);
}

.portfolio__btn.active {
    color: var(--dark-color);
    background-color: var(--accent-color);
}

.portfolio__wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 25px;
}

.portfolio__image {
    justify-self: center;
}

@media (max-width: 1430px) {
    .portfolio__wrapper {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}
@media (max-width: 950px) {
    .portfolio__wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 870px) {
    .portfolio {
        padding-top: 80px;
    }

    .portfolio__title-line {
        width: 90px;
    }

    .portfolio__title-text {
        font-size: 32px;
    }

    .portfolio__buttons {
        max-width: 445px;
        margin: 50px auto 60px;
        flex-wrap: wrap;
    }
}
